body {
  text-align: center;
}

button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

i {
  margin-top: 4px;
}

#mode {
  margin-bottom: 0;
}

#timer {
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 10px;
}

#session, #break {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  width: 35px;
}
